<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static  'css/main.css' %}">

    <title>Document</title>
</head>
<style>

</style>

<body>
    {% include 'header.html' %}

    <section class="body">
        <div class="container">
        <!-- 1 -->
        <div id="first" class="pannel">
            <div id="text" class="pannel-item">
                <div class="caption">
                    <p>Nukus</p>
                    <hr>
                </div>

                <div class="description">
                    Ta'kidlash lozimki, Qoraqalpog‘iston Respublikasi shaharlarining rivojlanishiga mos holda aholi soni
                    ham o‘sib bormoqda. Jumladan, 1990-yili shaharlarda 598,4 ming kishi istiqomat qilgan bo‘lsa,
                    2021-yilga kelib bu ko‘rsatkich 942,0 ming kishiga teng bo‘ldi yoki o‘tgan 31 yil mobaynida shahar
                    aholisi 157,4 foizga o‘sdi.
                </div>
            </div>


            <div id="image-first" class="pannelitem" style="background-image: url('{% static 'img/urban/one.jpg' %}');">
            <div class="triangle-right"></div>

            </div>
        </div>
        <!-- 2 -->
        <div id="second" class="pannel">
            <div id="image-second" class="pannelitem" style="background-image: url('{% static 'img/urban/two.jpg' %}');">
                <div class="triangle-left"></div>

            </div>

            <div id="text" class="pannel-item">
                <div class="caption">
                    <p>Nukus</p>
                    <hr>
                </div>

                <div class="description">
                    Shahar aholisi 1979–2009-yillarda 338,0 mingdan 672,4 ming kishiga o‘sgan. Uning o‘rtacha yillik ko‘payishi esa 3,30 foizga teng bo‘lgan. Ushbu holat 1979–1989-yillarda 4,61%, 1989–1999-yillarda 2,20% va 1999–2010-yillarda esa u 1,16 foizni tashkil qilgan. Shaharlarda 1979–1989 va 1989–1999-yillar mobaynida aholi sonining o‘sishi qishloq joylariga nisbatan yuqori bo‘lgan. </div>

            </div>
        </div>
        <!-- 3 -->
        <div id="first" class="pannel">
            <div id="text" class="pannel-item">
                <div class="caption">
                    <p>Chimboy
                    </p>
                    <hr>
                </div>

                <div class="description">
                    Faqatgina 1999–2017-yillarga  kelib  shaharlarda  aholi sonining  o‘sishi  biroz  sustlashdi.  Bu davrda ba’zi shaharlarda, masalan, Mo‘ynoq, Taxiatosh va Xo‘jayli shaharlari aholi soni  kamaygan,  Shumanay  va  Qo‘ng‘irot  shaharlarida  esa  uning  soni  deyarli o‘zgarmagan.</div>
            </div>


            <div id="image-first" class="pannelitem" style="background-image: url('{% static 'img/urban/three.jpg' %}');">
            <div class="triangle-right"></div>

            </div>
        </div>

        <!-- 2 -->
        <div id="second" class="pannel">
            <div id="image-second" class="pannelitem" style="background-image: url('{% static 'img/urban/four.jpg' %}');">
                <div class="triangle-left"></div>

            </div>

            <div id="text" class="pannel-item">
                <div class="caption">
                    <p>Chimboy</p>
                    <hr>
                </div>

                <div class="description">
                    1979–2017-yillar  oralig‘ida  Chimboy,  Bo‘ston,  Beruniy  va  Mang‘it tumanlardan va qishloq joylaridan aholining muntazam ko‘chib kelib turishi hamda shahar atrofida qishloqlarining shaharga qo‘shilib ketishi sabab bo‘lgan. Boshqa shaharlarda  aholining  tez  o‘sishi  tabiiy  ko‘payishning  yuqoriligi  va  emigratsiya sonining kamligi ta’sir qilgan. </div>

            </div>
        </div>
        <!-- 3 -->
        <div id="first" class="pannel">
            <div id="text" class="pannel-item">
                <div class="caption">
                    <p>Chimboy
                    </p>
                    <hr>
                </div>

                <div class="description">
                    Aholi sonining o‘sishi To‘rtko‘l, Xalqobod va Nukus shaharlarida o‘rtacha darajada. To‘rtko‘l shahri aholisi tabiiy ko‘payish hisobiga, Xalqobod va  Nukus shaharlari  esa  aholisi  kamaymaganligini  va  hatto  ko‘payotganligi  bilan  izohlash mumkin. Boshqa shaharlarda aholi sonining o‘sishi past ekanligi kuzatilmoqda. </div>
            </div>


            <div id="image-first" class="pannelitem" style="background-image: url('{% static 'img/urban/five.jpg' %}');">
            <div class="triangle-right"></div>

            </div>
        </div>

        <div id="second" class="pannel">
            <div id="image-second" class="pannelitem" style="background-image: url('{% static 'img/urban/six.jpg' %}');">
                <div class="triangle-left"></div>

            </div>

            <div id="text" class="pannel-item">
                <div class="caption">
                    <p>Nukus</p>
                    <hr>
                </div>

                <div class="description">
                    Ta’kidlab  o‘tilganidek,  Qoraqalpog‘iston  aholisining  deyarli  yarmi shaharlarda  yashaydı. Ulardaneng yirigi Nukus shahridir (311,1 ming kishi). U mamlakatimizning yirik shaharlari ichida aholi soni tez sur’atda o‘sib borayotgan shaharlari  safiga  kiradi.  Bunga  shahar  aholisining  o‘sishiga  yaqin  joylashgan shaharcha   (Qizketken,   Pristin)   va   qishloqlarning   qo‘shilib   ketishi “aglomeratsiyalashish”  jarayoni  sabab  bo‘lmoqda.

                </div>

            </div>
        </div>
        </div>
        {% include 'footer.html' %}

    </section>
<script src="../app.js"></script>
</body>

</html>