<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static  'css/main.css' %}">

    <title>Document</title>
</head>
<style>

</style>
<body>
  {% include 'header.html' %}

    <section class="body">
      <div class="container">
                <!-- 1 -->
                <div id="first" class="pannel">
                  <div id="text" class="pannel-item">
                    <div class="caption">
                      <p>Uloq, koʻpkari</p>
                      <hr>
                    </div>
                    
                    <div class="description">
                      Oʻrta Osiyo xalqlarining qadimiy ommaviy, milliy oʻyinlaridan biri. Asosan, gʻalaba va hosil bayramlari, toʻy va sayillar munosabati bilan oʻtkazilgan. Hukmdor va har xil amaldorlardan tashqari oʻziga toʻq odamlar, hatto oddiy aholi ham Uloq oʻyinlarini tashkil etgan. Koʻproq xatna (chipron) toʻylarida rasm boʻlgan.
      
                    </div>
                  </div>
                  
                  
                  <div id="image-first" class="pannelitem" style="background-image: url('{% static 'img/bayramlar/one.jpg' %}');">
                  <div class="triangle-right"></div>
      
                  </div> 
                </div>
              <!-- 2 -->
                <div id="second" class="pannel">
                  <div id="image-second" class="pannelitem" style="background-image: url('{% static 'img/bayramlar/two.jpg' %}');">
                    <div class="triangle-left"></div>
      
                  </div> 
                  
                  <div id="text" class="pannel-item">
                    <div class="caption">
                      <p>mereke</p><hr>
                    </div>
                    
                    <div class="description">
                      Qoraqalpoqlar baʼzan “mereke” deb nomlanuvchi anʼanaviy xalq sayillarini uyushtirdilar. Ularda an'anaviy musiqachilar, ertakchilar, mumlar, otlarning kuchini sinash uchun turli musobaqalar, kurash, qo'chqor urishtirish va ehtimol tartibsiz "uloq o'yin" o'yin. Ayollar festivalga arbas deb nomlanuvchi an'anaviy ikki g'ildirakli aravalarda olib borildi.              </div>
                    
                  </div>
                </div>
              <!-- 3 -->
                <div id="first" class="pannel">
                  <div id="text" class="pannel-item">
                    <div class="caption">
                      <p>Qoraqalpoq folklori
                      </p>
                      <hr>
                    </div>
                    
                    <div class="description">
                      Respublikada ko‘p tomlik “Qoraqalpoq folklori” to‘plamlari chop etildi, hozirda 100 tomlik “O‘zbek xalq ijodi yodgorliklari” majmuasi nashr etilmoqda. Baxshi-shoirlar tomonidan ijro etilayotgan asarlarni yozib olish, ularni ilmiy o‘rganish ishlari muntazam davom etadi.           </div>
                  </div>
                  
                  
                  <div id="image-first" class="pannelitem" style="background-image: url('{% static 'img/bayramlar/three.jpg' %}');">
                  <div class="triangle-right"></div>
      
                  </div> 
                </div>
      
              <!-- 2 -->
              <div id="second" class="pannel">
                  <div id="image-second" class="pannelitem" style="background-image: url('{% static 'img/bayramlar/four.jpg' %}');">
                    <div class="triangle-left"></div>
      
                  </div> 
                  
                  <div id="text" class="pannel-item">
                    <div class="caption">
                      <p>Ramazon hayiti</p><hr>
                    </div>
                    
                    <div class="description">
                      An'anaga ko'ra, Ramazon hayitning birinchi kuni odamlarning eng yaxshi kiyimlarini kiyib, jamoat namozlariga borishi bilan boshlandi, agar ob-havo imkon bersa, odatda ochiq joylarda. Bu bayram Islom dinidagi ramazon oyi uchun shukrona bildirish bilan bog'liq bayram.            </div>
                    
                  </div>
                </div>
              <!-- 3 -->
                <div id="first" class="pannel">
                  <div id="text" class="pannel-item">
                    <div class="caption">
                      <p>Qurbon hayiti
                      </p>
                      <hr>
                    </div>
                    
                    <div class="description">
                      Qurbon hayiti, ya'ni Qurbonlik bayrami, Orazadan taxminan 72 kun o'tgach sodir bo'ldi. Qurbon so‘zi turkiy tilda qurbonlik degan ma’noni bildiradi. Imkoniyati borlar Ibrohim (alayhissalom)ning Alloh taoloning amriga javoban o‘g‘li Ismoilni qurbon qilishga qaror qilganliklari ramzi sifatida eng yaxshi uy hayvonlarini qurbon qilishlari kutilgan edi. Albatta, bu Ibrohim alayhissalomning iymonini sinovdan o'tkazish edi va oxir-oqibat unga qo'chqor so'yishga ruxsat berildi.         </div>
                  </div>
                  
                  
                  <div id="image-first" class="pannelitem" style="background-image: url('{% static 'img/bayramlar/five.jpg' %}');">
                  <div class="triangle-right"></div>
      
                  </div> 
                </div>
      
                <div id="second" class="pannel">
                  <div id="image-second" class="pannelitem" style="background-image: url('{% static 'img/bayramlar/six.jpg' %}');">
                    <div class="triangle-left"></div>
      
                  </div> 
                  
                  <div id="text" class="pannel-item">
                    <div class="caption">
                      <p>Navro'z</p><hr>
                    </div>
                    
                    <div class="description">
                      Eng muhim rasmiy bayramlardan biri Navro'z edi, ya'ni yangi kun yoki vaqt. Navro‘z fors yilining boshlanishi bo‘lib, VII asrda arablar bosqiniga qadar butun Markaziy Osiyoda, jumladan, Xorazm vohasida keng tarqalgan qadimiy zardushtiylik madaniyatining yodgorligi hisoblanadi. Navro‘z “Avesto”da tilga olingan Hind-Eron podshohi Jamshid yoki Yima tomonidan kiritilgani aytiladi va u ahamoniylar tomonidan miloddan avvalgi I ming yillikning ikkinchi yarmida nishonlangan. Arablar Oʻrta Osiyoda zardushtiylik dinini deyarli yoʻq qilgan boʻlsalar-da, keyinchalik Navroʻzni Sosoniylar imperiyasidan turklar qabul qilib oldilar. Uylar bahorda tozalandi, tomlarda gulxanlar yoqildi va qo'riqchi farishtalar va o'liklarning ruhlarini kutib olish uchun bayram ziyofati tayyorlandi. Ushbu bayram 21-mart kuni nishonlanadi.
                    </div>
                    
                  </div>
                </div>
      </div>
      {% include 'footer.html' %}

    </section>
<script src="../app.js"></script>
      
</body>
</html>